<main fxFlex="50" fxFlexOffset="25">

  <div class="column"
       fxLayout="column"
       fxLayoutAlign="start none"
       fxLayoutGap="20">

    <mat-card class="mat-card">
      <mat-card-header>
        <mat-card-title>iFrame URL Input Field</mat-card-title>
      </mat-card-header>

      <mat-card-content class="mat-card">
        <form [formGroup]="form" fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>Please input URL</mat-label>
            <input
              matInput
              placeholder="Input field"
              formControlName="link"
              value="">
          </mat-form-field>
          <button mat-raised-button color="primary"
                  [disabled]="!form.valid"
                  (click)="onSend()"> Send
          </button>

        </form>
      </mat-card-content>

    </mat-card>

    <div fxLayout="row"
         fxLayout.lt-lg="column"
         fxLayoutGap="20"
         fxLayoutAlign="space-between none"
         fxLayoutAlign.lt-lg="start center"
         class="images-container">

      <div *ngIf="iframeLink" fxFlex="50">
        <iframe [src]="iframeLink | safe" width="300" height="300">
        </iframe>
      </div>

      <div *ngIf="imageUrl">
        <a (click)="onDownload()">
          <img class="image" [src]="imageUrl" alt="Gif image" width="300" height="300">
        </a>
      </div>

    </div>
  </div>
</main>
